<h1>Information About The Station Nearest To You</h1>

<section id='station-information'>
  <h2 class='name'><%= @station[:station_name] %></h2>
  <p class='address'>Address: <%= @station[:street_address] %> <%= @station[:city] %>, <%= @station[:state] %> <%= @station[:zip] %></p>
  <p class='fuel_type'>Fuel Type: <%= @station[:fuel_type_code] %></p>
  <p class='access_times'>Access Times: <%= @station[:access_days_time] %></p>
</section>